---
import LayoutWidget from "@/components/layout/LayoutWidget.astro"
import LayoutWidgetTwitter from "@/components/layout/LayoutWidgetTwitter.astro"
import LayoutWidgetFlickr from "@/components/layout/LayoutWidgetFlickr.astro"
---

<div class="layout-prefooter-top wrapper">
  <LayoutWidget title="text widget">
    Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
  </LayoutWidget>

  <LayoutWidget title="twitter widget" >
    <LayoutWidgetTwitter />
  </LayoutWidget>

  <LayoutWidget title="flickr widget" >

    <LayoutWidgetFlickr />
  </LayoutWidget>
</div>
