<ul class="layout-widget-twitter">
  <li>
    <p>
      <a href="https://x.com/" target="_blank" rel="noopener noreferrer" class="layout-widget-twitter__link">@ericafuster</a>
      Why thank you. Your work looks awesome by the way!
      <a href="https://x.com/" target="_blank" rel="noopener noreferrer" class="layout-widget-twitter__link">@treemelody</a>
    </p>
    <data class="layout-widget-twitter__data">19 days ago</data>
  </li>
  <li>
    <p>
      <a href="https://x.com/" target="_blank" rel="noopener noreferrer" class="layout-widget-twitter__link">@roymarvelous</a> 
      You can seek a refund through TF if it is not as advertised - but it is :)
    </p>
    <data class="layout-widget-twitter__data">21 days ago</data>
  </li>
</ul>

<style lang="scss">
  .layout-widget-twitter {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__link {
      color: rgb(87, 197, 160);
    }

    &__data {
      display: block;
      margin-top: 0.5rem;
    }
  }
</style>