---
import LayoutPrefooterTop from '@/components/layout/LayoutPrefooterTop.astro';
import LayoutPrefooterBottom from '@/components/layout/LayoutPrefooterBottom.astro';
---

<div class="layout-prefooter">
  <LayoutPrefooterTop />
  <hr class="layout-prefooter__divider" />
  <LayoutPrefooterBottom />
</div>
