---
import LayoutSubscribeForm from "@/components/layout/LayoutSubscribeForm.astro"
import LayoutSocials from "@/components/layout/LayoutSocials.astro"
---
<div class="layout-prefooter-bottom wrapper">
  <LayoutSubscribeForm />
  <LayoutSocials />
</div>
