---
import LayoutHeaderSearch from '@/components/layout/LayoutHeaderSearch.astro';
---

<header class="layout-header">
  <div class="wrapper">
    <div class="layout-header__container">
      <a href="/" class="layout-header-brand">
        <img
          src="/src/assets/images/header_logo.png"
          alt="Fooshoes"
          width="155"
          height="20"
          class="layout-header-brand__img"
        />
      </a>

      <ul class="layout-header-toolbar">
        <li class="layout-header-toolbar__item">
          <LayoutHeaderSearch />
        </li>
        <li class="layout-header-toolbar__item">
          <div class="layout-header-user">
            <div class="layout-header-user__links">
              <a href="login" class="layout-header-user__link">login</a>
              <span class="layout-header-user__link-separator">or</span>
              <a href="register" class="layout-header-user__link">register</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header>
