---
import { db, Product } from 'astro:db';

import { type IProduct } from '@/components/ui/product-card/BaseProductCard.astro';

import Layout from '@/layouts/Layout.astro';
import HomeSlider from '@/components/home/HomeSlider.astro';
import HomeOffers from '@/components/home/HomeOffers.astro';
import HomePromo from '@/components/home/HomePromo.astro';
import HomeAddons from '@/components/home/HomeAddons.astro';

const products: IProduct[] = await db.select().from(Product);
const newArrivals = products?.filter((product: IProduct) => product.isNewArrival === true) ?? []
const bestSellers = products?.filter((product: IProduct) => product.isBestSeller === true) ?? []
---

<Layout>
  <HomeSlider />
  <HomeOffers />

  <div class="home-content">
    <HomePromo title="New arrivals on FooseShoes" products={newArrivals} />
    <HomePromo title="best sellers of the months" products={bestSellers} />
    <HomeAddons />
  </div>
</Layout>
